@model Trab_AV2.Model.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h1>Exclusão de Produto</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qtd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qtd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
