﻿@using Microsoft.AspNetCore.Identity
@using Trab_AV2.Areas.Identity.Data
@using Trab_AV2.Model.Models;

@model Trab_AV2.VM.VendaVM

@inject UserManager<Trab_AV2User> UserManager

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VendaVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                
                <label class="control-label">Produto</label>

                <select class="form-select" id="cboProduto">
                    <option selected value="">Selecione um produto</option>
                    @{
                        // foreach (VwEstoque produto in ViewBag.listaVenda)
                        // {
                        //     <option data-qtd="@produto.Quantidade" data-valor="@produto.Valorvenda" value="@produto.Procodigo">@produto.ProDescricao</option>

                        // }
                    }
                </select>

                @*<label asp-for="IdProduto" class="control-label"></label>
                <select class="form-select" id="cboProduto" asp-for="IdProduto" asp-items="@ViewBag.Produto">
                    <option selected value="">Selecione um Produto</option>
                </select>
                <span asp-validation-for="IdProduto" class="text-danger"></span>*@
            </div>


            <div class="form-group">
                <label asp-for="CodigoCliente" class="control-label" hidden></label>
                <input asp-for="CodigoCliente" class="form-control mb-2" value="@UserManager.GetUserId(User)" hidden/>
                <span asp-validation-for="CodigoCliente" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DataDaVenda" class="control-label"></label>
                <input asp-for="DataDaVenda" id="txtData" class="form-control" />
                <span asp-validation-for="DataDaVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDaVenda" class="control-label"></label>
                <input asp-for="ValorDaVenda" id="txtValor" class="form-control" />
                <span asp-validation-for="ValorDaVenda" class="text-danger"></span>
            </div>
            <button type="button" class="btn btn-primary adicionar">Adicionar</button>


            <div>
                <table id="tbProdutos" class="table">
                    <thead>
                        <tr>
                            <th>
                                Produto
                            </th>
                            <th>
                                Quantidade
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Remover
                            </th>
                        </tr>
                    </thead>
                    @{
                        if (Model != null && Model.ListaProdutos != null)
                        {
                            int contador = 0;
                            foreach (var item in Model.ListaProdutos)
                            {
                                <tr>
                                    <td>
                                        <input type="hidden" name="ListaProdutos[@contador].IdProduto" value="item.IdProduto" />
                                        @item.CodigoProduto
                                    </td>
                                    <td>
                                        <input type="hidden" name="ListaProdutos[@contador].ValorVenda" value="@item.ValorVenda" />
                                        @item.ValorVenda
                                    </td>
                                    <td>
                                        @item.ValorVenda
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger remover">Remover</button>
                                    </td>
                                </tr>
                                contador += 1;
                            }
                        }
                    }
                </table>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(".remover").on("click", function () {
            $(this).closest("tr").remove();
        });

        $("#tbProdutos").on("click", ".remover", function () {
            $(this).closest("tr").remove();
        });


        $(".adicionar").on("click", function () {
            var valorVenda = $("#txtValor").val().replace(".", ",");
        })

        var produto = $("#cboProduto option:selected").text();

        var codProduto = $("cboProduto").val();

        var contador = $("tdProdutos tbody tr").length;

        var linha = `<tr>` +
            `<td>` +
            `<input type="hidden" name="ListaProdutos[${contador}].CodigoProduto" value=${codProduto}/>${produto}` +
            `<td><input type="hidden" name = "ListaProdutos[${contador}].ValorVenda" value = ${valorVenda} />${valorVenda}</td > ` +
            `<td><button type="button" class="btn btn-danger remover">Remover</button></td>` +
            `</tr>`;

        $("#tbProdutos tbody").append(linha);

        var valorTotalAtual = parseFloat($("lblValor").text()) + valorTotal;

        $("lblValor").text(valorTotalAtual);

    </script>
    
}
