﻿@using Microsoft.AspNetCore.Identity
@using Trab_AV2.Areas.Identity.Data
@using Trab_AV2.Model.Models

@model Trab_AV2.VM.VendaVM

@inject UserManager<Trab_AV2User> UserManager

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VendaVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="CodigoVenda" type="hidden" class="form-control" />
            </div>


            <div class="form-group col-md-7">
                <input type="text" asp-for="CodigoCliente" class="form-control mb-2" value="@UserManager.GetUserId(User)" hidden />
                <span asp-validation-for="CodigoCliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DataDaVenda" class="control-label"></label>
                <input asp-for="DataDaVenda" class="form-control" />
                <span asp-validation-for="DataDaVenda" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CodigoProduto" class="control-label"></label>
                <select class="form-select" id="cboProduto">
                    <option selected value="">Selecione um produto</option>
                    @{
                        foreach (VwEstoque produto in ViewBag.listaProdutos)
                        {
                            <option data-qtd="@produto.Qtd" data-valor="@produto.Valor" value="@produto.Id">@produto.NmProduto</option>

                        }
                    }
                </select>
            </div>


            <div>
                    <label class="form-label">Quantidade</label>
                    <input type="text" id="txtQuantidade" class="form-control" />
                </div

            <div>
                <label class="form-label">Valor de Venda</label>
                <input type="text" id="txtValor" class="form-control" readonly />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#txtQuantidade").on("change", function () {
            var qtd = $("#txtQuantidade").val();
            var valorItem = parseFloat($("#cboProduto option:selected").attr("data-valor"));
            if(qtd > 0){
                valorItem = valorItem * qtd;
            }
            $("#txtValor").val(valorItem);


        })
    </script>
}
